<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="2" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="testNG.Listeners"/>
    </listeners>
    <test name="Test cases">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="Moto"></include>-->
<!--                <include name="Vivo"></include>-->
<!--&lt;!&ndash;                <exclude name="Apple"></exclude>&ndash;&gt;-->
<!--&lt;!&ndash;                <exclude name="Lenovo"></exclude>&ndash;&gt;-->
<!--            </run>-->
<!--        </groups>-->
<!--        <parameter name="Name" value="Duck"></parameter>-->
        <classes>
<!--            <class name="testNG.DependenciesManagement"/>-->
<!--            <class name="testNG.DriveACar"/>-->
<!--            <class name="testNG.SampleTestCase"/>-->
<!--            <class name="testNG.SkipATestCase"/>-->
<!--            <class name="testNG.SuiteExample"/>-->
<!--            <class name="testNG.GroupingExample"></class>-->
<!--            <class name="testNG.Parameterization"/>-->
<!--            <class name="testNG.ParallelTesting"></class>-->
            <class name="testNG.DriveACar"/>
        </classes>
    </test>
</suite>

