<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Test Suite">
    <test name = "Test cases">
        <classes>
            <class name="testNG.DependenciesManagement"> </class>
            <class name="testNG.DriveACar"> </class>
            <class name="testNG.SampleTestCase"> </class>
            <class name="testNG.SkipATestCase"> </class>
            <class name="testNG.SuiteExample"> </class>
        </classes>
    </test>
</suite>